<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Blogs | Sapnendra</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <h1><a href="/">SAPNENDRA</a></h1>
        <a class="createnew" href="/posts/new">Create New Post</a>
        <nav>
          <a href="/blogs">Blogs</a>
          <a href="/projects">Projects</a>
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
        </nav>
      </div>
    </header>
    <main>